.typewriter-text {
    display: inline-block;
    min-height: 1.5em;
}

.typewriter-cursor {
    display: inline-block;
    width: 3px;
    background-color: var(--color-black);
    margin-left: 4px;
    animation: blink 1s infinite;
    height: 1.2em;
    vertical-align: text-bottom;
}

@keyframes blink {

    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}